<div class="content">
	
	{{#each articles}}
		<div>
			<a href={{link}}>
				<h2>{{title}}</h2>
			</a>

			<h4>{{summary}}</h4>

			<br>

			<button class="viewComments btn btn-warning" data-id={{_id}}>View Comments</button>
		</div>
	{{/each}}
	
</div>