/* General CSS */
html, body {
	background-image: url("/images/paper_fibers.png");
}

/* Navbar */
.navbar {
	background-image: url("https://wallpapercave.com/wp/wp3396925.jpg");
	height: 80px;
}

#navbar-brand-css {
	color: white
}

/* Content Section */
.content-container {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Article Cards */
.article-card {
	height: 250px;
}

.article-image {
	height: 130px;
}

/* Comment Section Content */
.comment-modal-css {
	height: 150px;
	overflow: scroll;
}

.close-modal-button {
	display: none;
	float: right;
}

.comment-form {
	margin-top: 2px;
	margin-bottom: 2px;
	display: none;
}

.post-comment {
	float: right;
}

/* .date-column {
	float: right;
}

.delete-comment {
	float: right;
} */